.cabecalho {
    background-color: rgb(250, 132, 211);
}

.menu{
    width: 5%;
    font-size: center;
}
.banner-previna {
    width: 25%;
}
.banner_titulo {
    text-align: center;
    font-size: 14px;
}